.head{
    border: 2px solid black;
    width:18%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    margin-left: 41%;
    margin-bottom: 20px;

}


/* All the "skeleton" stuff is just for fun  */
.skeletonBody{
    height: 600px;
    width: 300px;
    background-color: rgb(248, 247, 247);
    border-radius: 18px;
    position: absolute;
    top:10px;
    right: 474px;
    padding: 10px;
}

.sk{
    animation: skeleton_over 0.5s step-end 0s forwards;
}
.skeleton_head{
    height: 55px;
    background-color: rgb(196, 196, 196);
    width: 80%;
    border-radius: none;
    margin-top: 20px;
    margin-left: 35px;
}
.skeleton_r1{
    height: 100px;
    width:100px;
    background-color: rgb(196, 196, 196);
    border-radius: 50%;
    margin-left: 95px;
    margin-top: 20px;
}

.skeleton_r2{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding: 20px;
}

.c2{
    height: 100px;
    width:100px;
    background-color: rgb(196, 196, 196);
    border-radius: 50%;
}

.skeleton_infobox{
    height: 15px;
    width: 70%;
    background-color: rgb(196, 196, 196);
    border-radius: 18px;
    margin-top: 70px;
    margin-left: 45px;
}

.skeleton_score{
    display: flex;
    justify-content: space-around;
}

.skeleton_scorebox{
    height: 80px;
    width: 80px;
    background-color: rgb(196, 196, 196);
    border-radius: 18px 18px 18px 18px;
    margin-top: 40px;
}

.skeleton_desc{
    display: flex;
    justify-content: space-around;
}

.d1{
    height: 15px;
    width: 80px;
    margin-top: 30px;
    border-radius: 18px;
    background-color: rgb(196, 196, 196); 
}

/* 
@keyframes skeleton_transition{
    0%{opacity: 1;}
    1%{ background-color: rgb(196, 196, 196);}
    20%{ background-color: rgb(168, 168, 168);}
    40%{ background-color: rgb(196, 196, 196);}
    60%{ background-color: rgb(168, 168, 168);}
    80%{ background-color: rgb(196, 196, 196);}
    97%{ background-color: rgb(168, 168, 168);}
    98%{ opacity: 1;}
    99%{ opacity: 0;}
    100%{z-index: -1;}
} */

@keyframes skeleton_over{
    0%{ opacity: 1;}
    1%{ z-index: 1;}
    99%{opacity: 0;}
    100%{ z-index: -1;}
    100%{ opacity: 0;}
}

@keyframes headanimate{
        0%{ border: 2px solid black;
        border-radius: 0px;}
    20%{ border: 2px solid black;
            border-radius: 30px 0px 0px 0px;}
    40%{ border: 2px solid black;
            border-radius: 30px 30px 0px 0px;}
    60%{ border: 2px solid black;
            border-radius: 30px 30px 30px 0px;}
    80%{ border: 2px solid black;
            border-radius: 30px 30px 30px 30px;}    
    100%{ border: 2px solid black;
            border-radius: 0px 0px 0px 0px;}
    }                    

.head:hover{
    animation-name: headanimate;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.head:not(:hover){
    animation-duration: 2s;
    border-radius: 0px;
}

.choices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 2rem;    
}

.triangle{
    display: flex;
    gap:2rem;   
}

.rockimg{
    height: 100px;
    width: 100px;
    border: 1px solid white;
    flex-direction: row;
    border-radius: 50%;
    cursor: pointer;
}

/*animation on hover...*/
 @keyframes transition {
    0%{ border: 1px solid white;}
    25%{ border: 1px solid rgb(191, 189, 189);}
    50%{ border: 1px solid rgb(127, 125, 125);}
    75% { border: 1px solid rgb(77, 76, 76);}
    100%{ border: 1px solid black;}
}  

/*animation moving out of hover*/
@keyframes transitionout {
    0%{ border: 1px solid black;}
    25%{ border: 1px solid rgb(71,76,76);}
    50%{ border: 1px solid rgb(127, 125, 125);}
    75% { border: 1px solid rgb(191, 189, 189);}
    100%{ border: 1px solid white;}
}  

.rockimg:hover{
    animation-name: transition;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    border: 1px solid black;
}

.rockimg:not(:hover){
    animation-name: transitionout;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

.paperimg{
    height: 100px;
    width: 100px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.paperimg:hover{
   animation-name: transition;
   animation-duration: 0.5s;
   animation-timing-function: linear;
   border: 1px solid black;
}

.paperimg:not(:hover){
    animation-name: transitionout;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

.scissorsimg{
    height: 100px;
    width: 100px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.scissorsimg:hover{
  animation-name: transition;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  border: 1px solid black;
}

.scissorsimg:not(:hover){
    animation-name: transitionout;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

.scoreboard{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 50px;    
}

.myscore{
    border: 1px solid white;
    border-radius: 27px 2px 27px 27px;
    height: 74px;
    width: 72px;
    background-color: rgb(78, 132, 250);    
    
    .mscore{     /* actual text shown inside the scorebox */
        margin-left: 12px;
        font-size: 3rem;
        margin-top: 0;
        color: rgb(248, 218, 212);
    }
}

.myscore:hover{
    animation-name: transition;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    border: 1px solid black;
 }

 .myscore:not(:hover){
     animation-name: transitionout;
     animation-duration: 0.5s;
     animation-timing-function: linear;
 }

.botscore{
    border: 1px solid white;
    border-radius: 2px 27px 27px 27px;
    height: 74px;
    width: 72px;
    background-color: rgb(245, 16, 0);
    
    .bscore{  /* actual text shown inside the scorebox */
        margin-left: 12px;
        font-size: 3rem;
        margin-top: 0;
        color: rgb(173, 214, 247);
    }
}

.botscore:hover{
    animation-name: transition;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    border: 1px solid black;
}

.botscore:not(:hover){
    animation-name: transitionout;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

.score-desc{
    margin-left:1px;    
}

.info{
    height: 20px;
    border-radius: 5px;
    margin: none;
}

.infobox{ 
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;   
}

.infobox p{
    margin-top: 0;
}
